spring:
  application:
    name: contact
  datasource:
    url: jdbc:sqlite:contact-app.db
    driver-class-name: org.sqlite.JDBC
    username: sa
    password:

    jpa:
      database-platform: org.hibernate.community.dialect.SQLiteDialect
      hibernate:
        ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          format_sql: true
