application:
  title: ContactAppBE
  version: 1.0.0
spring:
  application:
    name: contact
  datasource:
    url: jdbc:sqlite:contact-app.db
    driver-class-name: org.sqlite.JDBC
    username: sa
    password:

    jpa:
      database-platform: org.hibernate.community.dialect.SQLiteDialect
      hibernate:
        ddl-auto: validate
      show-sql: true
      properties:
        hibernate:
          format_sql: true

  sql:
    init:
      mode: always